.CourseDetail {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.CourseDetail header {
  background-color: #673ab7;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px;
}
.CourseDetail header h1 {
  background-color: #673ab7;
  margin: 0;
  font-size: 24px;
}
.CourseDetail header .current-lesson {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
}

.CourseDetail .content {
  display: flex;
}

.CourseDetail .sidebar {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.CourseDetail .sidebar .lessons {
  list-style: none;
  margin: 0;
  padding: 0;
}
.lessons .lesson-item {
  margin-bottom: 5px;
  border-style: solid;
  border-radius: 3px;
}
.delete-lesson-btn,
.edit-lesson-btn {
  opacity: 0;
  border: none;
  font-size: 10px;
  cursor: pointer;
}
.edit-lesson-btn {
  margin-right: 5px;
}
.lesson-item:hover .delete-lesson-btn,
.delete-lesson-btn:focus,
.lesson-item:hover .edit-lesson-btn,
.edit-lesson-btn:focus {
  opacity: 1;
}

@media only screen and (min-width: 638px) {
  .CourseDetail .content {
    flex-direction: row;
    height: 100%;
  }
  .CourseDetail .sidebar {
    flex-basis: 300px;
    background: #fbf9ff;
    border-right: 1px solid #bba0ea;
  }
  .CourseDetail .lesson {
    flex: 1;
  }
}
@media only screen and (max-width: 637px) {
  .CourseDetail .content {
    flex-direction: column;
  }
  .CourseDetail .sidebar {
    background: #fbf9ff;
    border-bottom: 1px solid #bba0ea;
    min-height: 50px;
  }
  .CourseDetail .lesson {
    flex: 1;
  }
}
