.CreateCourse {
  height: 100%;
  padding-top: 80px;
  text-align: center;
}
.CreateCourse h1 {
  font-size: 30px;
}
.CreateCourse {
  background-image: url(../images/geometry2.png);
}
.CreateCourse form {
  max-width: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0 auto;
}
.CreateCourse form input {
  width: 100%;
  border: 1px solid #c244d8;
  outline: none;
  transition: box-shadow 0.2s;
  margin-bottom: 20px;
}
.CreateCourse form input:focus {
  box-shadow: 0 0 3px #c244d8;
}
.CreateCourse form label {
  margin-bottom: 0.6em;
  display: block;
}
.CreateCourse form button {
  color: #fff;
  background-color: #c244d8;
  font-size: 16px;
  padding: 10px;
  border-radius: 2px;
  width: 200px;
  margin: 0 auto;
  display: block;
  border: none;
  border-bottom: 3px solid #673ab7;
  transition: all 0.2s;
}
.createCourse-form button:focus {
  outline: none;
  box-shadow: 0 0 4px #673ab7;
}
.createCourse-form button:active {
  border-bottom: none;
  margin-top: 2px;
  box-shadow: 0 2px 0 #673ab7 inset;
}
.createCourse-form button:disabled {
  background-color: #dec5e2;
  border-bottom: 2px solid #f0e9fd;
}
/***** Course Listing *****/
.CourseList {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.CourseList h1 {
  font-family: 'Bebas Neue', 'Helvetica Neue', arial,
    sans-serif;
  font-size: 60px;
  color: #43005a;
  margin-top: 0.2em;
}
.CourseList .LoginLogout {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  font-size: 12px;
  cursor: pointer;
}
.CourseList ul {
  list-style: none;
  padding: 0;
}
.CourseList li > a {
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 600;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 3px;
  display: block;
  text-decoration: none;
  color: #222;
}
.CourseList .price {
  opacity: 0.5;
}

.CourseList .new-course-btn {
  align-self: flex-end;
  color: #fff;
  font-size: 16px;
  font-family: 'Source Sans Pro', helvetica, sans-serif;
  background: #9c27b0;
  border: none;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 1px;
}
.CourseList .new-course-btn:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5),
    0 0 5px 2px #9c27b0;
}
.CourseList .new-course-btn:active {
  background-color: purple;
}
