.lesson-item,
.add-lesson-button {
  background: #fff;
  border: 1px dashed #bb9eec;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 0;
}
.lesson-item.editing,
.add-lesson-button.editing {
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 4px #bb9eec;
  border: 1px dashed #673ab7;
  padding: 5px;
}
.lesson-item.error,
.add-lesson-button.error {
  box-shadow: 0 0 4px #ec9e9e;
  border: 1px dashed #b73a3a;
}
.lesson-item input,
.add-lesson-button input {
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: 5px;
  border-radius: 1px;
}
button.add-lesson-button:focus,
button.add-lesson-button:hover {
  outline: none;
  background: #f7f2ff;
  cursor: pointer;
}
.lesson-item > *:first-child {
  flex: 1;
  text-decoration: none;
  color: #222;
}
